{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

    <div class="flex flex-col items-center justify-center h-screen mx-6">
        <div class="bg-white mb-4 h-20 w-20 rounded-full border-4 border-blue_dark_hypnos flex justify-center items-center">
            {{ include('elements/logo.html.twig') }}
        </div>
        <p class="text-center">
            If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
{#            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.#}
            This link will expire in one hour
        </p>
        <p class="text-center">If you don't receive an email please check your spam folder or <a class="text-blue_light_hypnos font-bold" href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    </div>
{% endblock %}
