{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center h-screen mx-6">
        <div class="bg-white mb-4 h-20 w-20 rounded-full border-4 border-blue_dark_hypnos flex justify-center items-center">
            {{ include('elements/logo.html.twig') }}
        </div>
        <h1 class="m-2">Changer votre mot de passe</h1>
        {% form_theme resetForm 'tailwind_2_layout.html.twig' %}
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="w-full rounded-lg bg-yellow_hypnos my-6 px-2 text-sm py-2 border border-blue_medium_hypnos text-blue_dark_hypnos">Changer mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
