@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Volkorn_Regular";
    src: url("/public/fonts/Vollkorn/static/Vollkorn-Regular.ttf")format('truetype');
}

@font-face {
    font-family: "Volkorn_SemiBold";
    src: url("/public/fonts/Vollkorn/static/Vollkorn-SemiBold.ttf")format('truetype');
}

.login-container-small{
    min-height: calc(100vh - 9rem)
}

.global-container-small{
    min-height: calc(100vh - 10rem - 10rem)
}

input.email {
    display: none;
}

.red-form{
    color: #ea0707;
}

.label-form {
    color: #0000b1;
}

.label-reserve-form {
    color: white;
}

.input-form{
    background-color: #f9f8ed;
}

@media (min-width: 640px) {
    .login-container-all{
        min-height: calc(100vh - 5rem)
    }
    .global-container-all{
        min-height: calc(100vh - 9rem - 10rem)
    }
}



@media screen
and (max-width: 640px)
and (min-width: 100px){
    .size-mobile{
        font-size: 12px;
    }
}