{% extends 'base.html.twig' %}
{% block body %}
    {{ include('elements/header.html.twig') }}
    <main class="global-container-all global-container-small flex flex-col items-center w-full" >

    </main>
    {{ include('elements/footer.html.twig') }}
{% endblock %}