<!DOCTYPE html>
<html class="size-mobile" lang="fr">
    <head>
{#        Seo#}
        <meta charset="UTF-8">
        <meta property="og:title" content="Bienvenue chez Hypnos">
        <meta property="og:url" content="https://gentle-shore-25880.herokuapp.com/">
        <meta property="og:description" content="Hypnos, une chaîne hotelière présente dans toute la France et proposant de luxueuses suites à un prix raisonnable, pour faire de votre séjour une expérience inoubliable">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Hypnos">
        <meta name="Content-Language" content="fr">
        <meta name="Copyright" content="guibacsolutions">
        <meta name="Identifier-Url" content="https://gentle-shore-25880.herokuapp.com/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hypnos, une chaîne hotelière présente dans toute la France et proposant de luxueuses suites
        à un prix raisonnable, pour faire de votre séjour une expérience inoubliable">



        <title>{% block title %}Bienvenue chez Hypnos!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body >
        {% block body %}{% endblock %}
    </body>
    <style nonce="{{ csp_nonce('style') }}"></style>
</html>
