{% extends 'base.html.twig' %}
{% block body %}
    {{ include('elements/header.html.twig') }}
    <main>
        <div class="swiffy-slider slider-nav-page slider-nav-autoplay slider-indicators-round slider-nav-animation slider-nav-animation-fadein slider-nav-animation-slow" data-slider-nav-autoplay-interval="8000">
            <ul class="slider-container">
                <li><img src="https://source.unsplash.com/49b9l_29ceA/2400x900" style="max-width: 100%;height: auto;"></li>
                <li><img src="https://source.unsplash.com/nKAglN6HBH8/2400x900" style="max-width: 100%;height: auto;"></li>
                <li><img src="https://source.unsplash.com/E9ZwWcMGzj8/2400x900" style="max-width: 100%;height: auto;"></li>
            </ul>

            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>

            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
                <button></button>
            </div>
        </div>
    </main>

{% endblock %}
