{% extends 'base.html.twig' %}
{% block body %}
    {{ include('elements/header.html.twig') }}
    <main class="global-container-all global-container-small flex flex-col items-center w-full" >
        {% for suite in suites %}
            <div class="w-full flex flex-col items-center my-12">
                <div class="border border-blue_dark_hypnos w-5/6 sm:w-3/5 h-80 md:h-home-middle xl:h-home-full">
                    <div class="swiffy-slider slider-nav-page slider-indicators-round slider-nav-animation slider-nav-animation-fadein slider-nav-animation-slow h-80 md:h-home-middle xl:h-home-full">
                        <ul class="slider-container h-full">
                            {% for suite in suites %}
                                <li class="h-80 md:h-home-middle xl:h-home-full"><img class="object-cover h-80 md:h-home-middle xl:h-home-full w-full" src="{{ asset('https://hypnos63.s3.eu-west-3.amazonaws.com/'~ suite.mainImage)  }}" ></li>
                                {% for gallery in suite.galleries %}
                                    <li class="h-80 md:h-home-middle xl:h-home-full"><img class="object-cover h-80 md:h-home-middle xl:h-home-full w-full" src="{{ asset('https://hypnos63.s3.eu-west-3.amazonaws.com/'~ gallery.image)  }}" ></li>
                                {% endfor  %}
                            {% endfor %}
                        </ul>

                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>

                        <div class="slider-indicators mb-20">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div>
                </div>
                <div class="w-4/5 sm:w-3/6 h-48 sm:h-56 md:h-80 border border-blue_dark_hypnos -mt-12 md:-mt-16 z-20 bg-blue_dark_hypnos">

                </div>
            </div>

        {% endfor %}

    </main>
    {{ include('elements/footer.html.twig') }}
{% endblock %}